header img {
    height: auto;
    width: 100%;

}

header h2 {
    font-family: 'OvFont';
    color: var(--ow-text);
    letter-spacing: 2px;
    font-size: 6em;
    margin: 0;
}

.agent-title {
    width: 100%;
    position: absolute;
    font-size: 10em;
    padding-left: 150px;
    letter-spacing: 15px;
    font-style: italic;
    top: 1.2em;
}