header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header h1 {
    font-family: 'OvFont';
    color: var(--ow-text);
    font-size: 4em;
}

header p {
    font-family: 'OvFont';
    font-size: 1.5em;
    color: var(--ow-text);
}

.actions {
    display: flex;
    gap: 15px;
}