.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    width: 256px;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px var(--secondary);
}

.card img {
    width: auto;
    height: auto;
}

.card h3 {
    font-family: 'OvFont';
    font-size: 42px;
    color: var(--background);
    width: auto;
    height: auto;
    margin: 5px;
    padding: 0;
}

.card p {
    font-family: 'OvFont';
    font-size: 30px;
    color: var(--secondary);
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}